@import 'bulma';

* {
  box-sizing: border-box;
  font-family: 'Cuprum', sans-serif;
}

// .main-nav-scrolled {
//   position: fixed;
//   width: 100%;
//   top: 0;
// }

.fix-nav {
  //margin-top: 180px;

  width: 100%;
  font-family: 'Cuprum', sans-serif;
  background-color: #85D3DF;
  color: white;
  //border: 1px solid black;
}

.trans-nav {
  //margin-top: 180px;
  position: absolute;
  width: 100%;
  font-family: 'Cuprum', sans-serif;
  background-color: transparent;
  color: white;
}

.fb-login-button {
  height: 50px;
  padding-top: 20px;
}

// .fixNav {
//   background-color: white;
// }

a.nav-item {
  color: white;
  font-size: 113%;
}

.nav-right {
  align-items: flex-start;
}


a.nav-item.logo {
  font-size: 175%;
}

.summer {
  font-family: 'Lobster', cursive;
}

.break {
  font-family: 'Cuprum', sans-serif;
  margin-top: 5px;
}

.landing-container {
  position: relative;
  height: 650px;
  display: flex;
  justify-content: center;
  //border: 1px solid black;
}

.landing {
  display: flex;
  justify-content: center;
  font-size: 750%;
  color: white;
}

.landing-logo {
  align-items: center;
  margin-top: 200px;
}


.landing-logo .break {
  margin-top: -70px;
}

i.fa.fa-angle-double-down {
  color: white;
  font-size: 400%;
  align-items: center;
  padding-left: 185px;
  padding-top: 70px;
}

i.fa.fa-calendar:before {
  margin-top: 20px;
  margin-left: -15px;
  position: absolute;
}

.animate-me {
  -webkit-animation: bgcolorchange 7s infinite; /* Chrome, Safari, Opera */
  animation: 7s infinite bgcolorchange;
}
@keyframes bgcolorchange {
  0% {
    background-color: #F3BA3A;
  }
  25% {
    //background-color: #4FC3A1;
    background-color: #F3BA3A;
  }
  50% {
    background-color: #E3206F;
  }
  75% {
    background-color: #85D3DF;
  }
  100% {
    background-color: #2AA38E;
  }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes bgcolorchange {
      0%   {background: #F3BA3A;}
      25%  {background: #4FC3A1;}
      50%  {background: #E3206F;}
      75%  {background: #85D3DF;}
      100% {background: #2AA38E;}
 }

//bouncing arrows
.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

  animation-fill-mode:both;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

//summer dashed shadow
@import url(http://fonts.googleapis.com/css?family=Righteous);

h1 {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 12em;
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}
  h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
}
//-------
//login modal
.modal-close {
    margin-top: 50px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin-top: 60px;
  margin-left: 130px;
}

.form {
  position: relative;
  background: #FFFFFF;
  max-width: 1160px;
  padding: 45px;
  text-align: center;
}

.form input {
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  max-width: 300px;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.main-card-content {
  display: flex;
  justify-content: space-around;
}

.main-card {
  align-items: center;
  width: 250px;
  margin: 40px auto;
  display: inline-block;
}

// .card-content {
//   align-items: center;
// }

//event css
.event-title {
  //height: 50px;
  color: black;
}


.list-event-page {
  //clear: both;
  margin-top: 125px;
  margin-left: 30px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 900px;
  padding: 15px;

}

.add-activity {
  width: auto;
  display: inline-block;
}

// .add {
//   display: inline-block;
// }
