<div class="about-us-container columns">
  <div class="right-side column">

  <div class="about-us">About Us</div>
  <!-- <div class="about-us-desc">Summer Break addresses the need for teens to “break out” of their normal summer mode and <br></br>1) find employment,<br></br> 2) continue to learn,<br></br> 3) volunteer,<br></br>  4) attend fun and educational events and camps. <br></br>  Most websites tend to be very broad, not focused on teens, lack of concern for enviroment, or not locale.  Summer Break aids teens and their parents because it provides a source of events and job postings that have been pre-approved before being posted by the sites’ authors.  Furthermore, the category events are specific to youth/teens and proximitous to their area.

      <br></br>
      “Summer Break” focuses on these areas of concern:
      <br></br>
      Jobs:  Teens have to be 16 years old to get hired by most companies.  Not to mention companies are leery to hire for such a short duration.  Kids need to be able to tap into a local network of jobs that they can do, and in close proximity to their home if they are under driving age.
      <br></br>
      Camps: Not just the stereotypical weekly camps in the mountains, there are a number of local camps that provide learning, team-building, sports, and fun, and all reasonably priced.
      <br></br>
      Volunteer:  Teens are more volunteer-focused than ever because schools are promoting it.  Explore opportunities right in your neighborhood to help others.
      <br></br>
      Educational: Sure, every teen needs some time off to enjoy their summer.  But, there are educational opportunities at physical sites and online, some structured, and some self-paced.  Why not explore new areas of interest to keep the wheels turning!
      <br></br>
      “Featured Events”:  Use the handy calendar feature to visually see what’s going on in your neck of the woods and filter events per your location.  These events have been highlighted based on  number of attendees, and our ultimate goal of exciting and engaging fun!
      <br></br>
      <br></br>
      So, how will YOU break the mold?</div>
  </div> -->

  <div class="about-us-image column is-half">
    <img class="about-us-img" src="images/aboutus.jpg"/>
  </div>
</div>
