<!---sign in/login form---------------------------------------------------->
<div class="modal-background">
<div class="modal-content">
  <div class="login-page">
  <div class="form">
    <div class="add-activity">
    <form class="add event-form" ng-submit="">
      <input type="date" placeholder="date" ng-model="event.date"/>
      <input type="text" placeholder="title" ng-model="event.title"/>
      <input type="text" placeholder="description" ng-model="event.description"/>
      <input type="text" placeholder="location" ng-model="event.location"/>
      <input type="text" placeholder="event photo" ng-model="event.photoUrl" />
      <input type="text" placeholder="event website" ng-model="event.activityUrl"/>
      <input type="text" plceholder="admission price" ng-model="event.admissionFee"/>
      <button>submit</button>
      <p class="message"></p>
    </form>
    </div>
    <!--------------------------------->
    <div class="add-activity">
    <form class="add job-form" ng-submit="">
      <input type="text" placeholder="title" ng-model="job.title"/>
      <input type="text" placeholder="employer" ng-model="job.employer"/>
      <input type="text" placeholder="description" ng-model="job.description"/>
      <input type="text" placeholder="location" ng-model="job.location"/>
      <input type="text" placeholder="contact name" ng-model="job.contactName"/>
      <input type="email" placeholder="contact email" ng-model="job.email"/>
      <button>submit</button>
      <p class="message"></p>
    </form>
    </div>
  </div>
</div>

      <button class="modal-close" ng-click="deactivate()"></button>
   </div>
</div>

<!----------------------------------------------------------------------->
