
<!---landing page---------------------------------------------------------->
  <div class="landing-container animate-me">
    <div class="landing-logo">
     <h1 class="summer landing" data-shadow='summer'>Summer</h1>
     <div class="break landing">Break</div>
     <i class="fa fa-angle-double-down arrow animated bounce" aria-hidden="true" ng-click="moveDown()"></i>
    </div>
  </div>
<!------------------------------------------------------------------------->
<div class="details" ui-view></div>
