
<!---landing page---------------------------------------------------------->
  <div class="landing-container animate-me fix-landing">
    <div class="landing-logo">
     <!-- <h1 class="summer landing" data-shadow='summer'>Summer</h1>
     <div class="break landing">Break</div> -->
     <!-- <i class="fa fa-angle-double-down arrow animated bounce" aria-hidden="true" ng-click="moveDown()"></i> -->
    </div>
  </div>
<!------------------------------------------------------------------------->
<!-----welcome-about-us---------------------------->
<div class="middle">
  <div class="welcome-to-us">
    <div class="welcome-to">Welcome</div>
  <div class="container middle-saying">
    <div class="summer-break to-your"> to your </div>
    <div class="summer-break not-so-typical tag">not-so-typical</div>
   <div class="summer-break summer-break-middle">Summer Break</div>
  </div>
 </div>
</div>
<!------------------------------------------------->
<!------mission------------->
<div class="container">
  <div class="our-mission">Our Mission:</div>
</div>
<!-------------------------->


<div class="details" ui-view></div>
