
<!---landing page---------------------------------------------------------->
  <div class="landing-container animate-me fix-landing">
  </div>
<!------------------------------------------------------------------------->
<!-----welcome-about-us---------------------------->
<div class="middle">
  <div class="welcome-to-us">
    <div class="welcome-to">Welcome</div>
  <div class="container middle-saying">
    <div class="summer-break to-your"> to your </div>
    <div class="summer-break not-so-typical tag">not-so-typical</div>
   <div class="summer-break-middle">Summer Break</div>
  </div>
 </div>
 <!------mission------------->
 <div class="mission container">
   <div class="our-mission">Our Mission:</div>
   <div class="mission-statement"> To facilitate and encourage parent-approved opportunites for teens in the Greater Atlanta area during the summer.</div>
 </div>
 <!-------------------------->
</div>
<!------------------------------------------------->

<!---featured events--------->
<div class="featured-title">
<div class="most-popular">Most Popular Events:</div>
</div>

<div class="featured-events">
  <div class="featured-event-card" ng-repeat="event in featured">
    <div class="card-image">
   <figure class="image is-1by1">
     <img ng-src="{{event.photoUrl}}" alt="Image">
   </figure>
   <div class="media-content">
        <p class="is-small">{{event.title}}</p>
    </div>
  </div>
 </div>
 </div>

 <!-----stat count------------->
<div class="stat-container">
  <div class="stat-box"><span class="stat-number">{{allEventsStat}}</span><span> total opportunities!</span></div>
  <div class="stat-box"><span class="stat-number">{{allUsersStat}}</span><span> total users!</span></div>
  <div class="stat-box"><span class="stat-number">{{allRsvpStat}}</span><span> events being attended!</span></div>
</div>
 <!---------------------------->

<!--------------------------->
<!---Activities------------->
<div class="activity-images-container">
  <!-- <div class="activities-title is-offset-one-quarter">ACTIVITIES</div> -->
    <div class="activity-box">
      <ul class="activity-box is-offset-one-quarter">
        <li class="is-active"><a class="section-1" href="#!/events">General Events</a></li>
        <li><a class="section-2" href="#!/events">Volunteer</a></li>
        <li><a class="section-3" href="#!/events">Summer Camps</a></li>
        <li><a class="section-4" href="#!/events">Educational</a></li>
        <li><a class="section-5" href="#!/events">Jobs</a></li>
      </ul>
    </div>
  <div class="category-images">
 <div class="cat-images-box columns">
      <div class="cat-images column is-paddingless">
          <img src="/images/event.jpg">
      </div>
      <div class="cat-images column is-paddingless">
          <img src="/images/volunteer.jpg">
      </div>
      <div class="cat-images column is-paddingless">
          <img src="/images/camping.jpg">
      </div>
    </div>

 <div class="cat-images-box columns">
      <div class="cat-images column is-paddingless">
          <img src="/images/educational.jpg">
      </div>
      <div class="cat-images column is-paddingless">
          <img src="/images/work.jpg">
      </div>
      <!-- <div class="cat-images column is-paddingless">
          <img src="/images/calendar.jpg">
      </div> -->
  </div>
</div>
<!-------------------------->


<div class="details" ui-view></div>
