<!---sign in/login form---------------------------------------------------->
<div class="modal-background">
<div class="modal-content">
  <div class="login-page">
  <div class="form">
    <form class="register-form" ng-submit="register(user)">
      <input type="text" placeholder="first name" ng-model="user.firstName"/>
      <input type="text" placeholder="last lame" ng-model="user.lastName"/>
      <input type="text" placeholder="email address" ng-model="user.email"/>
      <input type="password" placeholder="password" ng-model="user.password"/>
      <!-- <input type="text" placeholder="add a profile url" ng-model="user.profile_url" /> -->
      <button>create</button>
      <p class="message">Already registered? <a ng-click="switchForms()">Sign In</a></p>
    </form>

    <!--------------------------------->
    <form class="login-form" ng-submit="login(signin)">
      <!---new user notification--------->
           <div ng-repeat="msg in notifications" class="pop-up-new-user notification is-primary">
            <button ng-click="removeMsg(msg)"
                  class="delete"></button>
                  <p class="content">
                  {{ msg }}
                  </p>
           </div>
      <!---------------------------------->
      <input type="text" placeholder="email" ng-model="signin.email"/>
      <input type="password" placeholder="password" ng-model="signin.password"/>
      <button>login</button>
      <p class="message">Not registered? <a ng-click="switchForms()">Create an account</a></p>
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
    </form>
  </div>
</div>

      <button class="modal-close" ng-click="deactivate()"></button>
   </div>
</div>

<!----------------------------------------------------------------------->
