<!----card 1-------------------------------------------->
<div class="card main-card">
  <div class="card-image">
    <figure class="image is-4by3">
      <!--first icon-->
      <!-- <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image"> -->
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Volunteer</p>
      </div>
    </div>
    <div class="content">
      “The best way to find yourself is to lose yourself in the service of others.” — Mahatma Gandhi
      <br>
      <small>You won't regret it!</small>
    </div>
  </div>
</div>
<!-------------------------------------------------------->
<!----card 2---------------------------------------------->
<div class="card main-card">
  <div class="card-image">
    <figure class="image is-4by3">
      <!--first icon-->
      <!-- <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image"> -->
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Job Opportunies</p>
      </div>
    </div>
    <div class="content">
      "A leader leads by example, whether he intends to or not." -Steve Jobs
      <br>
      <small>Work Work Work</small>
    </div>
  </div>
</div>
<!-------------------------------------------------------->
<!----card 3---------------------------------------------->
<div class="card main-card">
  <div class="card-image">
    <figure class="image is-4by3">
      <!--first icon-->
      <!-- <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image"> -->
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Events In ATL</p>
      </div>
    </div>
    <div class="content">
      See what is happening in your area this summer!
      <br>
      <small>And share with your friends!</small>
    </div>
   </div>
</div>
<!---------------------------------------------------------->
