<div class="main-card-content">
<!----card 1-------------------------------------------->
<div class="card main-card">
  <div class="card-image">
    <figure class="image is-4by3">
      <!--first icon-->
      <!-- <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image"> -->
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Volunteer</p>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------------->
<!----card 2---------------------------------------------->
<div class="card main-card">
  <div class="card-image">
    <figure class="image is-4by3">
      <!--first icon-->
      <!-- <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image"> -->
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Job Opportunies</p>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------------->
<!----card 3---------------------------------------------->
<div class="card main-card">
  <div class="card-image">
    <figure class="image is-4by3">
      <!--first icon-->
      <!-- <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image"> -->
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Events In ATL</p>
      </div>
    </div>
   </div>
</div>
<!---------------------------------------------------------->
</div>
