<div id="holding-tank">
  <article class="media list-pending" ng-repeat >
    <figure class="media-left">
      <p class="image is-128x128">
        <img ng-src="{{ general.photoUrl }}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p class="main-event-description">
          <strong><a class="general-website">{{ general.title }}</a></strong> <small>{{ general.contact }}</small>
          <br>
          <span>{{ general.descriptio n }}</span>
        </p>
      </div>
    </article>



</div>
