<div class="modal is-active">
 <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img ng-src="{{ event.photoUrl }}">
    </p>
  <footer class="modal-card-foot" ng-hide="!loggedIn">
    <div class="comments">
     <p ng-repeat="comment in comments"><span class="username-in-modal">{{ comment.User.firstName}}</span>: {{ comment.description }}</p>
     <p>{{ liveComment.description }}</p>
   </div>
   <div class="comment-box">
   <input type="text" placeholder="Add comment..." ng-model="data.comment"/>
    <div class="modal-buttons">
      <a class="button is-primary" ng-click="addComment(data.comment)">Add</a>
      <a class="button" ng-click="deactivate()">Cancel</a>
    </div>
  </div>
    </footer>
  <button class="modal-close" ng-click="deactivate()"></button>
 </div>
</div>
