<div class="modal is-active">
 <div class="modal-background"></div>
  <div class="modal-content">
    <div class="select-event-card card">
  <div class="select-event-image card-image">
    <figure class="image is-3x2">
      <img id="modal-image" ng-src="{{ event.photoUrl }}">
    </figure>
  </div>
  <div class="card-content select-event-content">
    <div class="media select-event-media">
      <div class="media-left">
      </div>
      <div class="media-content">
        <p class="title is-4">{{ event.title }}</p>
        <p class="subtitle is-6"><a href="{{ event.activityUrl }}"> {{ event.activityUrl }}</p></a>
      </div>
    </div>

    <div class="content">
      {{ event.description }}
      <br>
      {{ event.admissionFee }}
      <p class="subtitle is-6"> {{ event.contact }}</p>
    </div>
    <a ng-class="{'is-success' : attendingStatus(event.id), 'is-info': !attendingStatus(event.id)}" class="button is-info" ng-click="rsvp(event.id)">RSVP</a>
    <i class="fa fa-map-marker" aria-hidden="true">Directions</i>

  </div>
</div>
  <footer class="modal-card-foot" ng-hide="!loggedIn">
        <div class="comments">
         <p ng-repeat="comment in comments"><span class="username-in-modal">{{ comment.User.firstName}} {{ comment.User.lastName }}</span>: {{ comment.description }}</p>
         <p>{{ liveComment.description }}</p>
       </div>
       <div class="comment-box">
       <input type="text" placeholder="Add comment..." ng-model="comment.description"/>
        <div class="modal-buttons">
          <a class="button is-primary" ng-click="addComment(comment)">Add</a>
          <a class="button" ng-click="deactivate()">Cancel</a>
        </div>
       </div>
    </footer>
  <button class="modal-close" ng-click="deactivate()"></button>
 </div>
</div>
